span.status-success, .status-success, span.status-error, .status-error {
    width: 100px;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
}

span.status-error, .status-error {
    background-color: #f44336;
    color: rgb(95, 61, 61);
}

span.status-success, .status-success {
    background-color: #00e676;
    color: rgb(74, 98, 80);
}
